<head>
	<style>
		#l{
		   margin-left: 270px;	 
		}
	</style>
</head>
<body>
	<div class="container">
<form action="/user_profile/logedin" method="post">
		    <input type="number" placeholder="user_number" name="user_number">
		    <input type="password" placeholder="password" name="password">
			
			<input type="submit" id="l" class="btn btn-info" value="login" placeholder="login">
			
			
		</form>
</div>

</body>        